nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .title-logo {
  display: flex;
  align-items: center;
  gap: 30px;
}

nav ul {
  display: flex;
  gap: 50px;
}

nav ul a {
  text-decoration: none;
}

nav .title-logo img {
  width: 48px;
  height: 56.008px;
}

#h2o {
  color: #0059b3;
}
#travels {
  color: #ff5400;
}

nav ul a {
  color: #424247;
  font-size: 18px;
  font-weight: 400;
}
