@media (max-width: 600px) {
  /* Universal styles */
  nav,
  header,
  main {
    max-width: 335px;
    margin: 0 auto;
  }

  h1 {
    font-size: 22px;
  }

  h3,
  h5 {
    font-size: 20px;
  }

  h4 {
    font-size: 20px;
  }

  p,
  li {
    font-size: 14px;
  }
  button {
    width: 130px;
    height: 45px;
    font-size: 16px;
  }

  /* Nav bar styles */
  nav {
    display: flex;
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
    gap: 5px;
  }
  nav ul a {
    font-size: 14px;
  }

  .title-logo {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .title-logo img {
    width: 30px;
    height: 38.008px;
  }

  /* Header styles */

  header {
    padding: 32px 24px;
  }

  header p {
    width: 304px;
  }


  /* Filter */
  .filter {
    display: flex;
    width: 287px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 20px;
  }

  input[type="name"],
  input[type="datetime-local"],
  select,
  input[type="submit"] {
    width: 255px;
  }

  /* Section 1 styles */
  .sec1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 24px auto;
  }
  .sec1 button {
    margin-top: 15px;
  }

  /* Section 2 styles */
.sec2  img{
  width: 100%;
 }
  .sec2-content p {
    width: 309px;
    margin-bottom: 16px;
  }
  .sec2 .sec2-grid-containar {
    display: block;
    gap: 16px; 
  }
  /* .sec2-grid-items1,
  .sec2-grid-items2,
  .sec2-grid-items3 {
    display: grid;
    gap: 16px; 
  }
  .sec2-grid-items1,
  .sec2-grid-items3 {
    grid-template-columns: repeat(1, 1fr);
  }
  .sec2-grid-items2 {
    grid-template-columns: repeat(1, 1fr);
  } */

  /* my section */
  #hidden-gems .section-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
}

.section-content img{
    width: 100%;
}

  /* Section 3 styles */

  .sec3 .why-choose-us {
    margin-top: 24px;
  }
  .sec3 .why-choose-us p {
    width: 309px;
    margin: 0 auto;
  }

  .grid-container {
    display: block;
  }
  /* .grid-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 24px;
  }
  */
  .grid-items {
    padding: 32px;
  }

  #grid-item-3 {
    margin: 0;
    width: 335px;
  } 

  /* Section 4 styles */

  .sec4 {
    gap: 16px;
  }
  .deals-discount {
    width: 309px;
  }

  .deals-card1, .deals-card2, .deals-card3 {
    width: 303px;
    height: 295px;
    padding: 24px;
    position: absolute;
    bottom: 16px;
    right: 16px;
  }

  .time-people-place {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .book-now {
    margin-top: 16px;
  }

  /* Section 5 styles */

  .sec5 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* justify-content: space-between; */
  }
  .sec5 .sec5-content {
    width: 335px;
  }
  .sec5 .sec5-content button {
    margin-top: 24px;
  }
  .sec5  img{
    width: 100%;
   }

  /* Section 6 styles */
  .sec6 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 24px auto;
  }
  .sec6 .newsletter {
    width: 335px;
    height: 353px;
  }
  .sec6 .newsletter hr {
    width: 288px;
  }

  .sec6 input[type="text"],
  .sec6 input[type="email"],
  .sec6 input[type="submit"] {
    width: 288px;
  }

  .sec6  img{
    width: 100%;
   }
   .sec6 .discount {
    width: 214.023px;
    height: 79.268px;
    transform: rotate(-19.628deg);
  }
  .sec6 .discount h5 {
    font-size: 15.854px;  }
  
  /* Footer styles */

  footer {
    /* width: 375px; */
    height: 309px;
  }
  footer p {
    width: 287px;
  }

  .social-media-icons {
    gap: 20px;
    margin: 30px auto;
  }

  footer hr {
    width: 335px;
  }
}
