/* Section 1 styles */
.sec1 {
  display: flex;
  gap: 80px;
  /* align-items: center; */
  text-align: justify;
  margin: 100px auto;
}
.sec1 img {
  width: 100%;
}
.sec1 button {
  margin-top: 30px;
}

/* Section 2 styles */

.sec2-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sec2-content p{
  width: 800px;
  margin-bottom: 48px;
}
.sec2 .sec2-grid-containar {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.sec2-grid-items1,
.sec2-grid-items2,
.sec2-grid-items3 {
  display: grid;
  gap: 24px;
}
.sec2-grid-items1,
.sec2-grid-items3 {
  grid-template-columns: repeat(2, 1fr);
}
.sec2-grid-items2 {
  grid-template-columns: repeat(3, 1fr);
}

/* Section 3 styles */
.sec3 .why-choose-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.sec3 .why-choose-us p {
  width: 800px;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.grid-items {
  padding: 32px 55px 32px 32px;
  border-radius: 16px;
}

#grid-item-1 {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
#grid-item-2 {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
#grid-item-3 {
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  grid-column: span 2;
  width: 573px;
  margin: 0 auto;
}

.grid-items img {
  margin-bottom: 16px;
}
